<% layout('layout/boilerplate') %>  <br>
<div class="d-flex justify-content-center">
<main class="card col-6"; style="text-align:center">
  <h3> Are you sure that You want to delete your Account? </h3>


  <form action="/deleteuserconfirm/<%= user.id %> %>  " method="get">
  <br>
<button  class="btn btn-danger" type="submit">Yes delete it</button>

  </form>
</form> <br> <br>

  <form action="/users/<%= currentUser.id %>" method="get">
  <button class="btn btn-success">NO I want to keep my account</button>
  
  </form>
  <br><br>
  </main>
  </div>