
<% layout('layout/boilerplate') %> 
<br>
<div class="d-flex justify-content-center">
<main class="card col-6"; style="text-align:center">
<br>
  <form  action="/users/edit/<%=user._id%>?_method=PUT"method="POST" class="validated-form novalidate">
        <h4>Here is edit user page</h4>
       
         <div class="mb-3">
          <label class="form-label" for="name">Your's or your school's name</label><br>
          <input class="form-control" type="text" name="name" id="name"value="<%=user.name %>" required>
        </div>
          <label class="form-label" for="username">Schools Phone Number</label><br>
          <input class="form-control" type="Nuber" name="schoolPhoneNumber" id="schoolPhoneNumber" value="<%=user.schoolPhoneNumber %>">
      
       <br>
 
        
        <button type="submit" class="btn btn-success">Register Changes</button><br><br>
      </form>
</main>
</div>