<% layout('layout/boilerplate') %>
<br>
 <div class="row">
    <h3 class="home-header-text text-center mt-4">Find A School To be your School's Friend </h3>
    </div>
<div class="d-flex justify-content-center align-content-center">
<main class="card col-4"; style="text-align:center">
  <body>
    

 
  <div class="mt-2">
    
  </div class="border rounded justify-content-center">
    <img class="border rounded"
      src="/public/images/friend.jpg"
      src="https://img.jagranjosh.com//imported/images/E/Articles/Keeping-in-touch-with-school.jpg"
      alt=""
    />

  
  

 


  </body><br>
</main>
  </div>