<% layout('layout/boilerplate') %>
<br>
<div class="d-flex justify-content-center align-content-center">
<main class="card"; style="text-align:center">
 <div class="row">
    <h3 class="home-header-text text-center mt-4">Find A School To be your School's Friend </h3>
    </div>


  <body>
    

 
  <div class="mt-2">
    
  </div class="border rounded justify-content-center">
    <img class="border rounded"
      src="/public/images/friend.jpg" />
  </body><br>
</main>
  </div>
  