<% layout('layout/boilerplate') %> 
<br><br>
<div class="d-flex justify-content-center">
<main class="card col-4"; style="text-align:center">
<h2>Hi Welcome <%= user.name %>  </h2><br>
<h2>Your account is activated</h2><br>
<h2> <a href="/login">Please log in here</a> </h2><br>

</main>
</div>