 <% layout('layout/boilerplate') %>  <br>

  <br>  <br>  <br>
 
<div>

<div class="d-flex justify-content-center">
<main class="card col-6"; style="text-align:center">
<h1>Wrong Email <%=err %> </h1>
</div>

<br>




 </main>
 </div>